body {
  font-size: 16px;
  color: #fff;
  background-color: #00FA9A;  /* Sheet background MediumSpring Green */
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #00ffff; /* Aqua NavBar */
  border-radius: 0;
  border: 0;
}
.navbar-brand {   /* push Food, LLC down for Desktop  */
  padding-top: 15px;
}
.navbar-brand h1 { /* Food, LLC */
  color: #000000;  /* Text is Black */
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  background: linear-gradient(to bottom, white, #008080);
  color: white;
  text-align: center;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
h1 
{
  font-size: 175%;    /* -- Task Item 10: Heading - just making it larger */
  color: #000000;  /* Text is Black - our menu*/
}

#menu-tile {
  height: 500px;          /* -- Task Item 11: big boxes */
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-position: center;
  background-color: #0000ff; /* Blue NavBar */
}

#menu-tile span {
  position: absolute;
  color: #000000;  /* Text is Black for chicken beef and sushi */
  margin-top: 15px;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;


}                   /* -- Task Item 11: lots of text in the box*/
.inthebox {
  padding: 10px;
  margin-top: 50px;

}
/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  /* End Header */

  /* Home Page */
 
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Home Page */
  
  #menu-tile{
    width: 360px;
    margin: 0 auto 15px;
  }
  .menu-item-tile  {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 20px;
    font-size: 10vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile{
    width: 280px;
    margin: 0 auto 15px;
  }
}



